@import "core/reset";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: rgb(150, 125, 89);
  padding: 1rem;
  &_main {
    max-width: 80vh;
    width: 100%;
    padding: 0 20px;
  }
}

.header {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  &_image {
    width: 80vw;
    max-width: 600px;
  }
}
.filters {
  padding: 0px 25px 0px 25px;
  // display: flex;
  // //flex-direction: row;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // flex-wrap: wrap;
  &_filter_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7px;
    font-size: 22px;
    color: white;
    font-family: "pur";
  }

  label,
  input,
  select {
    //flex: 1 1 50%;
    margin-bottom: 10px;
    // flex-basis: 100%;
    margin-left: 0.1rem;
    padding: 0.25rem 0;
    margin: 0.5rem;
    width: 22rem;
    height: 2rem;
    // border: 1px solid #7cbb00;
    // border-radius: 5px;
    cursor: pointer;
    // transition: all ease 0.25s;
    // &:hover {
    //   border: 1px solid #ddd;
  }
}
.container {
  .container {
    display: flex;
    justify-content: center;
  }
}
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  list-style: none;
  justify-content: center;

  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-color: brown;
  border-radius: 2rem;
  position: relative;
  //width: 30rem;
  margin: 0 1rem 1rem 0;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
}
img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}
